* {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 126px;
    height: 126px;
}

#title-container {
    margin-right: calc(50vw - 252px);

    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-details {
    color: #ffee00;

    font-size: 0.5em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    width: 320px;
    height: 192px;

    margin: 16px;

    border-radius: 32px;

    position: relative;

    background-color: #deffff;
}

section > h1 {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

footer {
    height: 126px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: #ffffff;
    background-color: #000000;
}

footer > a:link {
    color: #ffff00;
}

@media (max-width: 600px) {
    #logo {
        width: 96px;
        height: 96px;
    }

    #title-container {
        margin-right: 8px;

        font-size: 0.75rem;
    }
}
